#? dest /home/usr/bin/html/start.html

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Start Page</title>
<style type="text/css">
<!--
body {
	background-color: $bg_swichr;
	margin-top: 16px;
}
body,td,th {
	font-family: 'jmk dweep';
	font-size: 11px;
	color: $hl_swichr;
	line-height: 12px;
}
a:link {
	color: $fg_swichr;
	text-decoration: none;
}
a:visited {
	color: $fg_swichr;
	text-decoration: none;
}
a:hover {
	color: #fff;
}
-->
</style></head>
<body>
<center>
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td width="175" valign="top">
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td colspan="2" height="18" valign="top" background="">News:</td>
				</tr>
				<tr>
					<td width="5"></td>
					<td>
						<a href="https://www.reddit.com/" >Reddit</a><br />
						<a href="https://www.archlinux.org/" >Arch</a><br />
					</td>
				</tr>
			</table>
		</td>
		<td width="175" valign="top">
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td colspan="2" height="18" valign="top">Imageboards:</td>
				</tr>
				<tr>
					<td width="5"></td>
					<td>
						<a href="https://finalchan.net/" >Finalchan</a><br />
						<a href="http://vaporchan.ga/" >Vaporchan</a><br />
					</td>
				</tr>
			</table>
		</td>
		<td valign="top">
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td colspan="2" height="18" valign="top">Others:</td>
				</tr>
				<tr>
					<td width="5"></td>
					<td>
						<a href="https://www.youtube.com/">YouTube</a><br />
						<a href="https://www.cock.li/">Cock Mail</a><br />
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="3" height="18"></td>
	</tr>
</table>
</center>
</body>
</html>
